<!--ion-view view-title="Playlists">
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
                {{playlist.title}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view-->

<ion-view view-title="Home">
    <ion-content ng-controller="marmuts">
        <ion-refresher on-refresh="doRefresh()">
        </ion-refresher>
        <!--ion-slide-box pager-click="navSlide(index)" auto-play="true" does-continue="true" >
            <ion-slide div ng-repeat="todo in marmuts | filter:{Kolom:'beritaHeadline'}">
                <div class="ng-binding">
                    <img src="{{todo.gambarBerita}}">
                    <a>{{todo.judulBerita}}</a>
                </div>
            </ion-slide-->
        <a class="item item-divider">
            <i>Model/Artis Pria Dewasa</i>
            <i class="item-note-black">
                <i class="icon ion-chevron-right"></i>
            </i>
        </a>
        <ion-item style="height: 106px;padding-top: 5px;padding-bottom: 8px;">
            <a ng-href="#/app/profil/{{todo.idMarmut}}" ng-repeat="todo in marmuts | filter:{grup:'men'} | limitTo: 3">
            <img class="imgDepan" src="{{todo.profilPic}}">
            </a>
        </ion-item>

        <a class="item item-divider">
            <i>Model/Artis Pria Cilik</i>
            <i class="item-note-black">
                <i class="icon ion-chevron-right"></i>
            </i>
        </a>
        <ion-item style="height: 106px;padding-top: 5px;padding-bottom: 8px;">
            <img ng-repeat="todo in marmuts | filter:{grup:'boy'} | limitTo: 3" class="imgDepan" src="{{todo.profilPic}}">
        </ion-item>

        <a class="item item-divider">
            <i>Model/Artis Wanita Dewasa</i>
            <i class="item-note-black">
                <i class="icon ion-chevron-right"></i>
            </i>
        </a>
        <ion-item style="height: 106px;padding-top: 5px;padding-bottom: 8px;">
            <img ng-repeat="todo in marmuts | filter:{grup:'women'} | limitTo: 3" class="imgDepan" src="{{todo.profilPic}}">
        </ion-item>

        <a class="item item-divider">
            <i>Model/Artis Wanita Cilik</i>
            <i class="item-note-black">
                <i class="icon ion-chevron-right"></i>
            </i>
        </a>
        <ion-item style="height: 106px;padding-top: 5px;padding-bottom: 8px;">
            <img ng-repeat="todo in marmuts | filter:{grup:'girl'} | limitTo: 3" class="imgDepan" src="{{todo.profilPic}}">
        </ion-item>

        <a class="item item-divider">
            <i>DJ Pria & Wanita</i>
            <i class="item-note-black">
                <i class="icon ion-chevron-right"></i>
            </i>
        </a>
        <ion-item style="height: 106px;padding-top: 5px;padding-bottom: 8px;">
            <img ng-repeat="todo in marmuts | filter:{grup:'dj'} | limitTo: 3" class="imgDepan" src="{{todo.profilPic}}">
        </ion-item>

        <a class="item item-divider">
            <i>Balita Berbakat</i>
            <i class="item-note-black">
                <i class="icon ion-chevron-right"></i>
            </i>
        </a>
        <ion-item style="height: 106px;padding-top: 5px;padding-bottom: 8px;">
            <img ng-repeat="todo in marmuts | filter:{grup:'balita'} | limitTo: 3" class="imgDepan" src="{{todo.profilPic}}">
        </ion-item>

        <a class="item item-divider">
            <i>Band | Dancer Penari Tradisional</i>
            <i class="item-note-black">
                <i class="icon ion-chevron-right"></i>
            </i>
        </a>
        <ion-item style="height: 106px;padding-top: 5px;padding-bottom: 8px;">
            <img ng-repeat="todo in marmuts | filter:{grup:'band'} | limitTo: 3" class="imgDepan" src="{{todo.profilPic}}">
        </ion-item>

        <a class="item item-divider">
            <i>Komedian | Mirip Orang Terkenal/Unik</i>
            <i class="item-note-black">
                <i class="icon ion-chevron-right"></i>
            </i>
        </a>
        <ion-item style="height: 106px;padding-top: 5px;padding-bottom: 8px;">
            <img ng-repeat="todo in marmuts | filter:{grup:'komedi'} | limitTo: 3" class="imgDepan" src="{{todo.profilPic}}">
        </ion-item>

        <a class="item item-divider">
            <i>MC/Presenter</i>
            <i class="item-note-black">
                <i class="icon ion-chevron-right"></i>
            </i>
        </a>
        <ion-item style="height: 106px;padding-top: 5px;padding-bottom: 8px;">
            <img ng-repeat="todo in marmuts | filter:{grup:'mc'} | limitTo: 3" class="imgDepan" src="{{todo.profilPic}}">
        </ion-item>

        <a class="item item-divider">
            <i>Model Atletis Pria & Wanita</i>
            <i class="item-note-black">
                <i class="icon ion-chevron-right"></i>
            </i>
        </a>
        <ion-item style="height: 106px;padding-top: 5px;padding-bottom: 8px;">
            <img ng-repeat="todo in marmuts | filter:{grup:'atl'} | limitTo: 3" class="imgDepan" src="{{todo.profilPic}}">
        </ion-item>

        <a class="item item-divider">
            <i>Penyanyi Pria</i>
            <i class="item-note-black">
                <i class="icon ion-chevron-right"></i>
            </i>
        </a>
        <ion-item style="height: 106px;padding-top: 5px;padding-bottom: 8px;">
            <img ng-repeat="todo in marmuts | filter:{grup:'mensinger'} | limitTo: 3" class="imgDepan" src="{{todo.profilPic}}">
        </ion-item>

        <a class="item item-divider">
            <i>Penyanyi Wanita</i>
            <i class="item-note-black">
                <i class="icon ion-chevron-right"></i>
            </i>
        </a>
        <ion-item style="height: 106px;padding-top: 5px;padding-bottom: 8px;">
            <img ng-repeat="todo in marmuts | filter:{grup:'womensinger'} | limitTo: 3" class="imgDepan" src="{{todo.profilPic}}">
        </ion-item>

        <a class="item item-divider">
            <i>Pemain Alat Musik | Bakat lainnya</i>
            <i class="item-note-black">
                <i class="icon ion-chevron-right"></i>
            </i>
        </a>
        <ion-item style="height: 106px;padding-top: 5px;padding-bottom: 8px;">
            <img ng-repeat="todo in marmuts | filter:{grup:'other'} | limitTo: 3" class="imgDepan" src="{{todo.profilPic}}">
        </ion-item>


        <!--ion-slide-box pager-click="navSlide(index)" auto-play="false" does-continue="true" >
            <ion-slide div ng-repeat="todo in marmuts | filter:{grup:'men'}">
                <img class="imgDepan" src="{{todo.profilPic}}">
            </ion-slide>
        <ion-slide-box-->

        <!--div id="{{idMarmut}}">
            <h1>halo</h1>
        </div-->

    <!--div>
    <style>
    </style>
    <nav>

        <input type="checkbox" id="shownav" value="true" class="visuallyhidden" />
        <label for="shownav" class="ir">Show navigation</label>
        <ul class="roller">
            <li><a class="icon ion-email" href="#" onclick="window.plugins.socialsharing.shareViaEmail('ArrayBerita', 'ArrayBerita Markas Semut', 'gue@gmail.com')"></a></li>
            <li><a class="icon ion-social-facebook" href="#" onclick="window.plugins.socialsharing.shareViaFacebook('ArrayBerita', 'Message via FB', null, null, null, function(){console.log('share ok')}, function(msg) {alert('error: ' + msg)})"></a></li>
            <li><a class="icon ion-social-twitter" href="#" onclick="window.plugins.socialsharing.shareViaTwitter('Markas Semut - http://www. markassemut.com')"></a></li>
            <li><a class="icon ion-ios-star" href="#"></a></li>
            <li><a class="icon ion-link" href="#" onclick="window.plugins.socialsharing.share('Message, subject, image and link', 'The subject', 'https://www.google.nl/images/srpr/logo4w.png', 'http://www.x-services.nl')"></a></li>
        </ul>
    </nav>
    </div-->
</ion-view>
<h3 id="faq-1">Question 1</h3>