<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-assertive">
            <ion-nav-back-button>
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-share" menu-toggle="right">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu style="border-color: #e42012;background-color: #ef473a;color: #fff;background-image: url('img/menuBg.png')" side="left";>
        <ion-header-bar class="bar-stable">
            <img src="img/logomarsem.png" class="title" style="margin-left: 35px">
        </ion-header-bar>
        <ion-content >
            <ul style="margin-left: 40px;margin-top: 25px; font-size: large">
                <li style="margin-top: 15px" class="icon ion-ios-locked" ng-click="login()"><i style="margin-left: 20px">Login</i></li>
                <li style="margin-top: 15px" class="icon ion-ios-home" href="#/app/home"><i style="margin-left: 20px">Home</i></li>
                <li style="margin-top: 15px" class="icon ion-ios-basketball" href="#/app/nasional"><i style="margin-left: 20px">Nasional</i></li>
                <li style="margin-top: 15px" class="icon ion-earth" href="#/app/internasional"><i style="margin-left: 20px">Internasional</i></li>
                <li style="margin-top: 15px" class="icon ion-ios-basketball" href="#/app/nasional"><i style="margin-left: 20px">Ekonomi</i></li>
                <li style="margin-top: 15px" class="icon ion-ios-basketball" href="#/app/nasional"><i style="margin-left: 20px">Iptek</i></li>
                <li style="margin-top: 15px" class="icon ion-ios-basketball" href="#/app/nasional"><i style="margin-left: 20px">Wisata</i></li>
                <li style="margin-top: 15px" class="icon ion-ios-basketball" href="#/app/nasional"><i style="margin-left: 20px">Talent</i></li>
                <li style="margin-top: 15px" class="icon ion-ios-basketball" href="#/app/nasional"><i style="margin-left: 20px">Iklan</i></li>
                <li style="margin-top: 15px" class="icon ion-ios-basketball" href="#/app/nasional"><i style="margin-left: 20px">Olahraga</i></li>
                <li style="margin-top: 15px" class="icon ion-ios-film" href="#/app/nasional"><i style="margin-left: 20px">Hiburan</i></li>
                <li style="margin-top: 15px" class="icon ion-ios-glasses" href="#/app/nasional"><i style="margin-left: 20px">Gaya Hidup</i></li>
                <li style="margin-top: 15px" class="icon ion-ios-basketball" href="#/app/nasional"><i style="margin-left: 20px">Woow</i></li>
            </ul>
            <!--<div class="list">
                <a class="item item-icon-left item-assertive"nav-clear menu-close ng-click="login()">
                    <i class="icon ion-ios-locked"></i> Login
                </a>
                <a class="item item-icon-left item-assertive"nav-clear menu-close href="#/app/home">
                    <i class="icon ion-ios-home"></i> Home
                </a>
                <a class="item item-icon-left item-assertive"nav-clear menu-close href="#/app/nasional">
                    <i class="icon ion-ios-flower"></i> Nasional
                </a>
                <a class="item item-icon-left item-assertive"nav-clear menu-close href="#/app/nasional">
                    <i class="icon ion-ios-world"></i> Internasional
                </a>
                <a class="item item-icon-left item-assertive"nav-clear menu-close href="#/app/nasional">
                    <i class="icon ion-ios-pie"></i> Ekonomi
                </a>
                <a class="item item-icon-left item-assertive"nav-clear menu-close href="#/app/nasional">
                    <i class="icon ion-ios-flask"></i> Iptek
                </a>
                <a class="item item-icon-left item-assertive"nav-clear menu-close href="#/app/nasional">
                    <i class="icon ion-ios-basketball"></i> Olahraga
                </a>
                <a class="item item-icon-left item-assertive"nav-clear menu-close href="#/app/nasional">
                    <i class="icon ion-ios-film"></i> Hiburan
                </a>
                <a class="item item-icon-left item-assertive"nav-clear menu-close href="#/app/nasional">
                    <i class="icon ion-bowtie"></i> Gaya Hidup
                </a>
                <a class="item item-icon-left item-assertive"nav-clear menu-close href="#/app/nasional">
                    <i class="icon ion-heart"></i> Woow
                </a>
            </div>-->
            </ion-list>
           <!-- <ion-item back-img="{{item.bg}}"
                      ng-repeat="item in items"
                      item="item"
                      href="#/item/{{item.id}}">
                Item {{ item.id }}

                <ion-delete-button class="ion-minus-circled"
                                   ng-click="onItemDelete(item)">
                </ion-delete-button>

                <ion-option-button class="button-assertive"
                                   ng-click="edit(item)">
                    Edit
                </ion-option-button>
                <ion-option-button class="button-calm"
                                   ng-click="share(item)">
                    Share
                </ion-option-button>
                <ion-reorder-button class="ion-navicon" on-reorder="moveItem(item, $fromIndex, $toIndex)"></ion-reorder-button>
            </ion-item>-->

            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
