<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-assertive">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="right">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu style="border-color: #e42012;background-color: #ef473a;color: #fff;" side="right">
        <ion-header-bar class="bar-stable">
            <img src="img/logomarsem.png" class="title" style="margin-right: 35px">
        </ion-header-bar>
        <ion-content >
            <ion-list>
                <a class="item item-icon-right item-assertive"nav-clear menu-close ng-click="login()">
                    <i class="icon ion-ios-locked"></i> Login
                </a>
                <a class="item item-icon-right item-assertive"nav-clear menu-close href="#/app/home">
                    <i class="icon ion-ios-home"></i> Home
                </a>
                <a class="item item-icon-right item-assertive"nav-clear menu-close href="#/app/nasional">
                    <i class="icon ion-ios-flower"></i> Nasional
                </a>
                <a class="item item-icon-right item-assertive"nav-clear menu-close href="#/app/nasional">
                    <i class="icon ion-ios-world"></i> Internasional
                </a>
                <a class="item item-icon-right item-assertive"nav-clear menu-close href="#/app/nasional">
                    <i class="icon ion-ios-pie"></i> Ekonomi
                </a>
                <a class="item item-icon-right item-assertive"nav-clear menu-close href="#/app/nasional">
                    <i class="icon ion-ios-flask"></i> Iptek
                </a>
                <a class="item item-icon-right item-assertive"nav-clear menu-close href="#/app/nasional">
                    <i class="icon ion-ios-basketball"></i> Olahraga
                </a>
                <a class="item item-icon-right item-assertive"nav-clear menu-close href="#/app/nasional">
                    <i class="icon ion-ios-film"></i> Hiburan
                </a>
                <a class="item item-icon-right item-assertive"nav-clear menu-close href="#/app/nasional">
                    <i class="icon ion-bowtie"></i> Gaya Hidup
                </a>
                <a class="item item-icon-right item-assertive"nav-clear menu-close href="#/app/nasional">
                    <i class="icon ion-heart"></i> Woow
                </a>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
